@font-face {
  font-family: omoriFont;
  src: url("omori_text_font.ttf"); }

body {
  font-family: omoriFont;
  margin: 0px;
  background-color: #ffffff; }

header {
  color: #ffffff; }
  header .site-header__logo {
    width: 350px;
    height: 150px; }

.navgrid {
  display: grid;
  text-align: center;
  grid-template-columns: 120px 120px 180px 120px 120px;
  grid-template-rows: 50px;
  align-items: center;
  justify-content: center; }

.nav {
  font-size: 30px;
  text-decoration: none; }
  .nav:hover {
    transform: scale(1.1);
    color: blueviolet; }

@media (max-width: 576px) {
  header .site-header__logo {
    width: 50%;
    height: 50%; }
  .navgrid {
    grid-template-columns: 13% 15% 28% 15% 20%; }
  .nav {
    font-size: 18px; } }

.gridfooter {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px;
  grid-template-rows: 30px;
  justify-content: right;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px; }

@keyframes slide {
  0% {
    margin-left: 0%; }
  20% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; } }

.slider-frame {
  text-align: center;
  width: 100%;
  overflow: hidden;
  margin-top: 30px; }
  .slider-frame ul {
    display: flex;
    width: 301%;
    animation: slide 50s infinite ease-out;
    margin: 0px;
    padding-left: 0px;
    padding-top: 20px; }
    .slider-frame ul li {
      list-style: none;
      width: 100%; }
      .slider-frame ul li img {
        width: 800px;
        height: 400px; }

h1 {
  text-align: center;
  border-bottom: solid; }

.watch-video {
  padding: 40px;
  width: 600px;
  height: 340px; }

h2 {
  text-align: center;
  border-bottom: solid;
  font-size: 35px;
  margin-bottom: 40px; }

h3 {
  margin: 0px; }

.container {
  overflow: hidden;
  margin: auto;
  margin-top: 30px;
  padding-top: 50px;
  width: 870px;
  height: 530px;
  background-color: #000000;
  padding: 10px; }
  .container::-webkit-scrollbar {
    width: 10px; }
    .container::-webkit-scrollbar-thumb {
      background-color: #514658; }

.omori-nintendo {
  padding-top: 20px;
  position: absolute;
  width: 408px;
  height: 450px;
  margin-left: 20px; }

.gridtopbuttons {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: 190px 190px 190px 190px;
  grid-template-rows: 120px; }

.gridbuttons1 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: right;
  grid-template-columns: 190px 190px;
  grid-template-rows: 120px 120px 120px;
  padding-right: 30px; }

.switch-buttons {
  padding: 20px;
  height: 30px;
  width: 110px;
  border-style: solid;
  border-color: #FFFFFF;
  background-color: #000000;
  margin: auto; }

.gridtext {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: right;
  grid-template-columns: 430px;
  grid-template-rows: 150px;
  padding-bottom: 20px;
  padding-top: 20px; }
  .gridtext h3 {
    color: #FFFFFF;
    font-size: 33px; }

.omori-switch {
  width: 400px;
  height: 600px; }

/* Media query - Mobile */
@media (max-width: 576px) {
  .slider-frame {
    margin-top: 0px; }
    .slider-frame ul li {
      list-style: none;
      width: 400%; }
      .slider-frame ul li img {
        width: 80%;
        height: 200px; }
  h1 {
    padding-top: 10px;
    font-size: 25px; }
  .watch-video {
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    height: 20%; }
  h2 {
    font-size: 25px;
    margin-top: 0px; }
  .gridtopbuttons {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; }
  .container {
    width: 90%;
    padding-top: 30px;
    overflow-y: scroll; }
    .container img {
      position: relative;
      padding-top: 0px;
      width: 75%;
      height: auto;
      margin-left: 10%; }
  .gridtext {
    grid-template-columns: 100%;
    grid-template-rows: 100px; }
    .gridtext h3 {
      font-size: 25px; }
  .gridbuttons1 {
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 40% 40%;
    padding-right: 0px;
    padding-bottom: 80px; }
    .gridbuttons1 a img {
      padding: 20px;
      height: 30px;
      width: 90px;
      border-style: solid;
      border-color: #FFFFFF;
      background-color: #000000;
      margin: auto; } }

.backblack {
  background-color: #181518; }

.grid {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: 600px 500px;
  grid-template-rows: 400px;
  margin-top: 50px;
  margin-bottom: 30px; }
  .grid img {
    width: 550px;
    height: 400px; }
  .grid .p {
    font-size: 32px;
    color: #41107E; }

h4 {
  margin-top: 20px;
  color: #FFFFFF;
  background-color: #8a2be2;
  text-align: center;
  font-size: 40px;
  margin-bottom: 0px; }

.habout {
  margin-bottom: 20px;
  color: #FFFFFF;
  background-color: #8a2be2;
  text-align: center;
  font-size: 40px; }

.gridtexta {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: 800px;
  grid-template-rows: 250px; }
  .gridtexta .p2 {
    font-size: 32px;
    color: #FFFFFF; }

.gridimages {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: 600px 600px;
  grid-template-rows: 420px; }
  .gridimages img {
    width: 500px;
    height: 400px; }

.gridimagemo {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-rows: 420px; }
  .gridimagemo img {
    width: 268px;
    height: 368px; }

@media (max-width: 576px) {
  .grid {
    margin-top: 10px;
    grid-template-columns: 90%;
    grid-template-rows: 50% 55%; }
    .grid img {
      width: 90%;
      height: auto; }
    .grid .p {
      font-size: 20px; }
  .gridtexta {
    padding-top: 10px;
    grid-template-columns: 90%;
    grid-template-rows: 100%;
    position: relative; }
    .gridtexta .p2 {
      font-size: 25px; }
  .gridimages {
    padding-top: 30px;
    grid-template-columns: 80%;
    grid-template-rows: 54%;
    padding-bottom: 30px; }
    .gridimages img {
      width: 90%;
      height: auto; }
  h4 {
    font-size: 25px;
    margin-top: 25px; }
  .habout {
    font-size: 25px;
    margin-bottom: 20px; }
  .gridimagemo img {
    width: 100%;
    height: auto; } }

#background {
  background-image: url(../IMAGENES/omoriwhitespace.png); }

.infocontainer {
  overflow: hidden;
  margin: auto;
  margin-top: 30px;
  padding-top: 50px;
  width: 900px;
  height: 690px;
  background-size: 1300px;
  padding-left: 200px;
  padding-right: 200px; }

.gridimg {
  display: grid;
  position: absolute;
  grid-template-columns: 350px;
  grid-template-rows: 600px;
  align-items: center;
  padding-top: 50px; }
  .gridimg img {
    width: auto;
    height: 550px;
    margin: auto; }

p13 {
  padding-top: 60px;
  padding-bottom: 60px; }

.gridtext1 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: right;
  grid-template-columns: 600px;
  grid-template-rows: 20px 100px;
  padding-top: 20px; }
  .gridtext1 p {
    font-size: 25px;
    text-align: center; }
  .gridtext1 p15 {
    font-size: 40px;
    font-weight: bold; }

.gridtext2 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: right;
  grid-template-columns: 200px 290px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 170px;
  padding-bottom: 20px;
  padding-right: 40px; }
  .gridtext2 .impinfo {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 25px;
    justify-content: center;
    align-items: center; }
  .gridtext2 .info {
    text-align: left;
    font-size: 25px;
    padding-left: 50px; }

h6 {
  text-align: center;
  color: #FFFFFF;
  font-size: 40px;
  background-color: #000000; }

.containercha {
  overflow: hidden;
  margin: auto;
  margin-top: 30px;
  padding-top: 50px;
  width: 1100px;
  height: 580px;
  background-size: 1300px;
  background-image: url(../IMAGENES/selectionimage.png);
  background-size: 1080px;
  background-repeat: no-repeat; }

.gridcha {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 220px 220px;
  padding-top: 30px;
  padding-right: 20px; }

.button-profile {
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  width: 150px;
  height: 150px;
  margin: auto; }
  .button-profile img {
    width: 150px; }
    .button-profile img:hover {
      transform: scale(1.1); }

@media (max-width: 576px) {
  #background {
    background-image: url(../IMAGENES/backgroundmobile.png); }
  .infocontainer {
    width: 100%;
    height: auto;
    padding: 0px;
    background-size: 100%; }
  .gridimg {
    position: static;
    grid-template-columns: 100%;
    grid-template-rows: 300px;
    align-items: center;
    padding-top: 20px; }
    .gridimg img {
      width: auto;
      height: 100%;
      margin: auto;
      padding: 0px; }
  .gridtext1 {
    grid-template-columns: 75%;
    grid-template-rows: 40px 80%;
    justify-content: center; }
    .gridtext1 p15 {
      font-size: 30px; }
    .gridtext1 p {
      font-size: 25px;
      margin-top: 0px;
      margin-bottom: 30px; }
  .gridtext2 {
    grid-template-columns: 60%;
    grid-template-rows: 45px 35px 45px 35px 45px 35px 45px 35px 45px 35px 45px 35px 45px 120px;
    justify-content: center;
    padding-bottom: 20px;
    padding-right: 0px; }
    .gridtext2 .impinfo {
      font-size: 25px; }
    .gridtext2 .info {
      text-align: center;
      padding-left: 0px; }
    .gridtext2 p13 {
      padding: 0px;
      height: 29px; }
  h6 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px; }
  .containercha {
    width: 100%;
    height: 350px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: 100%;
    background-image: url(../IMAGENES/selectionimagemobile1.png);
    background-repeat: no-repeat; }
  .gridcha {
    grid-template-columns: 35% 35%;
    grid-template-rows: 40% 40% 40%;
    padding-top: 0px;
    padding-right: 0px; }
  .button-profile {
    border-style: none;
    width: 60%;
    height: auto; }
    .button-profile img {
      width: 100%; } }

.chagrid {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: 250px 500px 250px;
  grid-template-rows: 200px;
  padding-bottom: 20px;
  position: relative;
  top: 150px;
  padding: 0px; }

.shopimg {
  width: 1335px; }

.mari {
  width: 250px;
  position: relative;
  top: 50px; }

.basil {
  width: 140px;
  position: relative;
  top: 70px;
  left: 40px; }

.merchtitle {
  width: 450px;
  margin: auto; }

#grid {
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1006px;
  grid-template-rows: 33px 300px;
  padding-bottom: 30px;
  position: relative; }

.grid3 {
  top: 210px; }

.grid4 {
  top: 250px; }

.img-merch {
  width: 1006px; }

#go-button {
  background-color: #8a2be2;
  color: #FFFFFF;
  font-size: 30px;
  text-decoration: none; }

:root {
  --animate-duration: 2s; }

#footermerch {
  position: relative;
  top: 230px; }

@media (max-width: 576px) {
  .chagrid {
    grid-template-columns: 25% 40% 25%;
    grid-template-rows: 60%;
    top: 30px; }
  .mari {
    width: 120%; }
  .basil {
    width: 70%;
    position: relative;
    top: 60px;
    left: 0px; }
  .merchtitle {
    width: 100%; }
  #grid {
    grid-template-columns: 90%;
    grid-template-rows: 25% 80%;
    padding-bottom: 30px;
    padding: 0px; }
  .img-merch {
    width: 100%; }
  .grid3 {
    top: -40px; }
  .grid4 {
    top: -10px; }
  #go-button {
    font-size: 25px; }
  #footermerch {
    position: static; } }

.titlebasil {
  width: 250px; }

.title {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 120px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  margin-top: 40px; }

.container2 {
  text-align: center;
  justify-content: center;
  width: 670px;
  height: 500px;
  background-image: url(../IMAGENES/backgroundalbum.png);
  background-size: cover;
  overflow: hidden;
  overflow-y: scroll;
  align-items: center;
  margin: auto;
  border-style: solid;
  border-color: #000000;
  max-width: 70%;
  margin-top: 20px; }
  .container2::-webkit-scrollbar {
    width: 10px; }
    .container2::-webkit-scrollbar-thumb {
      background-color: #0d0214; }

.imgs {
  width: 120px;
  margin: auto;
  cursor: pointer; }

.albumgrid {
  padding-top: 10px;
  padding-left: 50px;
  display: grid;
  grid-template-columns: 140px 140px 140px 140px;
  grid-template-rows: 180px 180px 180px 180px; }

.ful-img {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .ful-img span {
    background: #000000;
    color: #FFFFFF;
    width: 25px;
    height: 25px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
    cursor: pointer; }

@media (max-width: 576px) {
  .titlebasil {
    width: 100%; }
  .title {
    display: grid;
    grid-template-columns: 40%;
    grid-template-rows: 100%;
    padding: 0px;
    margin-top: 20px; }
  .container2 {
    width: 90%;
    height: 500px;
    max-width: none;
    margin-top: 20px; }
  .imgs {
    width: 90%; }
  .albumgrid {
    padding-top: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 20% 20% 20% 20% 20% 20%; }
  #fulImg {
    width: 60%;
    height: auto; } }
