@font-face {
    font-family: omoriFont;
    src: url("omori_text_font.ttf");
}
body{
    font-family: omoriFont;
    margin: 0px;
    background-color: #ffffff;
}
.site-header__logo{
    width: 350px;
    height: 150px;
}
.navgrid{
    display: grid;
    text-align: center;
    grid-template-columns: 120px 120px 180px 120px 120px;
    grid-template-rows: 50px;
    align-items: center;
    justify-content: center;
    
}
.nav{
    font-size: 30px;
    text-decoration: none;
}
.nav:hover{
    transform: scale(1.1);
    color: blueviolet;
}
.slider-frame{
    text-align: center;
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
    
}
.slider-frame ul{
    display: flex;
    width: 301%;
    animation: slide 50s infinite ease-out;
    margin: 0px;
    padding-left: 0px;
    padding-top: 20px;
    
}
.slider-frame li{
    list-style: none;
    width: 100%;
    
}
.slider-frame img{
    width: 800px;
    height: 400px;
}
@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

}
h1{
    text-align: center;
    border-bottom: solid;
}
.watch-video{
    padding: 40px;
    width: 600px;
    height: 340px;

}
h2{
    text-align: center;
    border-bottom: solid;
    font-size: 35px;
    margin-bottom: 40px;
    
}
.container{
    width: 870px;
    height: 500px;
    background-color: black;
    padding: 10px;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    margin-top: 30px;
    padding-top: 50px;
}
.omori-nintendo{
    padding-top: 20px;
    position: absolute;
    width: 408px;
    height: 450px;
    margin-left: 20px;
}
.gridtext{
    display: grid;
    text-align: center;
    grid-template-columns: 430px;
    grid-template-rows: 100px;
    align-items: center;
    justify-content: right;
    padding-bottom: 20px;
}
.gridbuttons6{
    display: grid;
    text-align: center;
    grid-template-columns: 190px 190px;
    grid-template-rows: 120px 120px 120px;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
}
.gridtopbuttons{
    display: grid;
    text-align: center;
    grid-template-columns: 190px 190px 190px 190px;
    grid-template-rows: 120px;
    align-items: center;
    justify-content: center;

}
h3{
    color: #ffffff;
    font-size: 32px;
}
.omori-switch{
    width: 400px;
    height: 600px;
}
.switch-buttons{
    padding: 20px;
    height: 30px;
    width: 110px;
    border-style: solid;
    border-color: #ffffff;
    background-color: black;
    margin: auto;
    
}
h4{
    color: white;
    font-size: 33px;
}

p2{
    padding: 30px;
    font-size: 20px; 
    position: absolute;
    top: 2050px;
}
.gridfooter{
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    grid-template-rows: 30px;
    justify-content: right;
    padding-top:40px ;
}
/* Media query - Mobile */
@media (max-width:576px){

    .site-header__logo{
        width: 50%;
        height: 50%;
    }
    .navgrid{
        grid-template-columns: 13% 15% 28% 15% 20%; 
    }
    .nav{
        font-size: 18px;
    }   
    .slider-frame{
        margin-top: 0px;
    }
    .slider-frame li{
        list-style: none;
        width: 400%;
    }
    .slider-frame img{
        width: 300px;
        height: 200px;
    }
    h1{
        padding-top: 10px;
        font-size: 25px;
    }
    .watch-video{
        padding:0px;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 80%;
        height: 20%;
    }
    h2{
        border-bottom: solid;
        font-size: 25px;
        margin-top: 0px;
    }
    .gridtopbuttons{
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
    .container{
        width: 90%;
        height: 500px;
        background-color: black;
        margin: auto;
        margin-top: 30px;
        padding-top: 30px;
        overflow-y: scroll;
        
    }
    .omori-nintendo{
        position: relative;
        padding-top: 0px;
        width: 75%;
        height: auto;
        margin-left:10% ;
    }
    h4{
        color: white;
        font-size: 25px;
        padding-left: 20%;
    }
    .gridbuttons6{
        grid-template-columns: 50% 50%;
        grid-template-rows: 40% 40% 40%;
        justify-content: right;
        padding-right: 0px;
        padding-bottom: 80px;
    }
    .switch-buttons{
        padding: 20px;
        height: 30px;
        width: 110px;
        border-style: solid;
        border-color: #ffffff;
        background-color: black;
        margin: auto;
        
    }
    
}