@font-face {
    font-family: omoriFont;
    src: url("omori_text_font.ttf");
}
body{
    font-family: omoriFont;
    margin: 0px;
}
.backblack{
    background-color: #181518;
}
.navgrid{
    display: grid;
    text-align: center;
    grid-template-columns: 120px 120px 180px 120px 120px;
    grid-template-rows: 50px;
    align-items: center;
    justify-content: center;
    
}
.nav{
    font-size: 30px;
    text-decoration: none;
}
.nav:hover{
    transform: scale(1.1);
    color: blueviolet;
}
.site-header__logo{
    width: 350px;
    height: 150px;
}
.nav{
    font-size: 30px;
    padding: 30px;
}
.maripic{
    width: 550px;
    height: 400px;
}
.p{
    font-size: 32px;
    color: #41107E;
    ;
}

.p2{
    font-size: 32px;
    color: white;
}
.sweetheart{
    width: 500px;
    height: 400px;
}
.underwater{
    width: 500px;
    height: 400px;
}
h5{
    margin-top: 20px;
    color: white;
    background-color: blueviolet;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.battle1{
    width: 500px;
    height: 400px;
}
.battle2{
    width: 500px;
    height: 400px;
}

h4{

    color: white;
    background-color: blueviolet;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
}
.emotions-guide{
    width: 500px;
    height: 400px;
}

.grid{
    display: grid;
    text-align: center;
    grid-template-columns: 600px 500px;
    grid-template-rows: 400px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
header{
    background-color: #ffffff;
}
.gridtexta{
    display: grid;
    text-align: center;
    grid-template-columns: 800px;
    grid-template-rows: 250px;
    align-items: center;
    justify-content: center;
}
.gridimages{
    display: grid;
    text-align: center;
    grid-template-columns: 600px 600px;
    grid-template-rows: 420px;
    align-items: center;
    justify-content: center;
}
.gridimagemo{
    display: grid;
    text-align: center;
    grid-template-rows: 420px;
    align-items: center;
    justify-content: center;
}
.emotionsingame{
    width: 268px;
    height: 368px;
}
.gridfooter{
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    grid-template-rows: 30px;
    justify-content: right;
    padding-top:40px ;
    padding-bottom: 20px;
}
@media (max-width:576px){

    .site-header__logo{
        width: 50%;
        height: 50%;
    }
    .navgrid{
        grid-template-columns: 13% 15% 28% 15% 20%; 
    }
    .nav{
        font-size: 18px;
    }
    .grid{
        margin-top: 10px;
        grid-template-columns: 90%;
        grid-template-rows: 50% 55%;
        align-items: center;
        justify-content: center;
    }
    .maripic{
        width: 100%;
        height: auto;
    }
    .p{
        font-size: 20px;
    }
    h2{
        margin-top: 30px;
        font-size: 25px;
    }
    .gridtext{
        grid-template-columns: 90%;
        grid-template-rows: 100%;
        position: relative;
    }
    .p2{
        font-size: 25px;
    }
    .gridimages{
        padding-top: 30px;
        grid-template-columns: 80%;
        grid-template-rows: 50%;
        padding-bottom: 30px;
    }
    .sweetheart{
        width: 90%;
        height: auto;
    }
    .underwater{
        width: 90%;
        height: auto;
    }
    .p3{
        font-size: 25px;
    }
    h3{
        font-size: 25px;
    }
    .p4{
        font-size: 25px;
        padding-top: 20px;
    }
    .battle1{
        width: 90%;
        height: auto;
    }
    .battle2{
        width: 90%;
        height: auto;
    }
    .p5{
        font-size: 25px;
        color: white;
        padding-bottom: 20px;
    }
    h4{
        margin-top: 10px;
        text-align: center;
        font-size: 25px;
        margin-bottom: 10px;
    }
    .p6{
        padding-top: 20px;
        font-size: 25px;
        color: white;
    }
    .emotions-guide{
        width: 50%;
        height: auto;
    }

}
