@font-face {
    font-family: omoriFont;
    src: url("omori_text_font.ttf");
}
body{
    font-family: omoriFont;
    margin: 0px;
    background-color: #ffffff;
}
.site-header__logo{
    width: 350px;
    height: 150px;
}
.navgrid{
    display: grid;
    text-align: center;
    grid-template-columns: 120px 120px 180px 120px 120px;
    grid-template-rows: 50px;
    align-items: center;
    justify-content: center;
    
}
.nav{
    font-size: 30px;
    text-decoration: none;
}
.nav:hover{
    transform: scale(1.1);
    color: blueviolet;
}
.slider-frame{
    text-align: center;
    width: 100%;
    overflow: hidden;
    
}
.slider-frame ul{
    display: flex;
    width: 301%;
    animation: slide 50s infinite ease-in-out;
    margin: 0px;
    padding-left: 0px;
    padding-top: 20px;
    
}
.slider-frame li{
    list-style: none;
    width: 100%;
    
}
.slider-frame img{
    width: 800px;
    height: 400px;
}
@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

}
h1{
    text-align: center;
    border-bottom: solid;
}
.watch-video{
    padding: 40px;
    width: 600px;
    height: 340px;

}
h2{
    text-align: center;
    border-bottom: solid;
    font-size: 35px;
    margin-bottom: 40px;
    
}
.superior-buttons{
    padding: 20px;
    height: 30px;
    width: 110px;
    background-color: black;
}
.container{

    width: 870px;
    height: 500px;
    background-color: black;
    padding: 10px;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    margin-top: 30px;
    padding-top: 50px;
    margin-bottom: 80px;
}
.omori-nintendo{
    padding-top: 20px;
    position: absolute;
    width: 408px;
    height: 450px;
    margin-left: 20px;
}
.gridtext{
    display: grid;
    text-align: center;
    grid-template-columns: 430px;
    grid-template-rows: 100px;
    align-items: center;
    justify-content: right;
    padding-bottom: 20px;
}
.gridbuttons6{
    display: grid;
    text-align: center;
    grid-template-columns: 190px 190px;
    grid-template-rows: 120px 120px 120px;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
}
.gridtopbuttons{
    display: grid;
    text-align: center;
    grid-template-columns: 190px 190px 190px 190px;
    grid-template-rows: 120px;
    align-items: center;
    justify-content: center;

}
h3{
    color: #ffffff;
    font-size: 32px;
}
.omori-switch{
    width: 400px;
    height: 600px;
}
.switch-buttons{
    padding: 20px;
    height: 30px;
    width: 110px;
    border-style: solid;
    border-color: #ffffff;
    background-color: black;
    margin: auto;
    
}
h4{
    color: white;
    font-size: 33px;
}

p2{
    padding: 30px;
    font-size: 20px; 
    position: absolute;
    top: 2050px;
}
p8{
    padding: 30px;
    font-size: 20px; 
    position: absolute;
    top: 2000px;
}