@font-face {
    font-family: omoriFont;
    src: url("omori_text_font.ttf");
}
body{
    font-family: omoriFont;
    margin: 0px;
    background-color: #181518;
}
.site-header__logo{
    width: 350px;
    height: 150px;
}
.nav{
    font-size: 30px;
    padding: 30px;
}
h1{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 40px;
}
.maripic{
    width: 550px;
    height: 400px;
}
.p{
    font-size: 32px;
    color: #41107E;
    ;
}
h2{
    margin-top: 60px;
    color: white;
    background-color: blueviolet;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.p2{
    font-size: 32px;
    color: white;
}
.sweetheart{
    width: 500px;
    height: 400px;
}
.underwater{
    width: 500px;
    height: 400px;
}
.linkbuttons{
    position: absolute;
    top: 3570px;
}
p8{
    padding: 30px;
    font-size: 20px; 
    color: white;
    position: absolute;
    top: 3540px;
}
.p3{
    font-size: 32px;
    color: white;
}
h3{
    margin-top: 20px;
    color: white;
    background-color: blueviolet;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.p4{
    font-size: 32px;
    color: white; 
}
.battle1{
    width: 500px;
    height: 400px;
}
.battle2{
    width: 500px;
    height: 400px;
}
.p5{
    font-size: 32px;
    color: white;
}
h4{
    margin-top: 10px;
    color: white;
    background-color: blueviolet;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.p6{
    font-size: 32px;
    color: white;
}
.emotions-guide{
    width: 500px;
    height: 400px;
}
#facebook{
    right: 120px;
}
#twitter{
    right: 85px;
}
#instagram{
    right: 50px;
}
#bandcamp{
    right: 15px;
}
.grid{
    display: grid;
    text-align: center;
    grid-template-columns: 600px 500px;
    grid-template-rows: 400px;
    align-items: center;
    justify-content: center;
}
header{
    background-color: #ffffff;
}
.gridtext{
    display: grid;
    text-align: center;
    grid-template-columns: 800px;
    grid-template-rows: 250px;
    align-items: center;
    justify-content: center;
}
.gridimages{
    display: grid;
    text-align: center;
    grid-template-columns: 600px 600px;
    grid-template-rows: 420px;
    align-items: center;
    justify-content: center;
}
.gridimagemo{
    display: grid;
    text-align: center;
    grid-template-rows: 420px;
    align-items: center;
    justify-content: center;
}
.emotionsingame{
    width: 268px;
    height: 368px;
}
footer{
    background-color:#181518 ;
}